main {
    #{headings(all)} {

    }
    
    h1, .h1 {
        a {

        }
    }

    h2, .h2 {
        a {

        }
    }

    h3, .h3 {
        a {

        }
    }

    h4, .h4 {
        a {

        }
    }
    
    h5, .h5 {
        a {

        }
    }

    p, li, blockquote, td, th {
        line-height: 1.6;
    }

    a:not(.btn) {
        // @include link-colors($color-blue, $color-orange, $color-green, $color-blue, $color-blue);
    }

    img {
        &.float-right, &.alignright {
            margin: {
                left: 2rem;
                bottom: 2rem;
            }
        }

        &.float-left, &.alignleft {
            margin: {
                right: 2rem;
                bottom: 2rem;
            }
        }

        &.aligncenter {
            display: block;
        }
    }

    strong {

    }

    blockquote {
        p {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    form {
        // @import 'forms';
        
        &.wpcf7-form {
            br {
                display: none;
            }
        }
    }

    table {
        thead {
            tr {
                th, td {
                    
                }
            }
        }

        tbody {
            tr {
                td {
                    
                }   
            }
        }
    }

    [id="breadcrumbs"] {
        font: {
            size: .8em;
        }
    }

    &[id="page"], &[id="post"], &[id="none"] {

    }

    &[id="archive"], &[id="search"] {

    }
}
