$height-input: 38px;
$height-outline: 4px;

input[type="submit"], input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="number"], input[type="search"], input[type="url"], input[type="date"], textarea, select {
    @include inline-block;
}

input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="number"], input[type="search"], input[type="url"], input[type="date"], textarea, select {
    background: {
        color: #fbfbfb;
    }
    border: $height-outline solid #d7d7d7;
    padding: 0 5px;
    height: $height-input;
    width: 100%;
    @include box-sizing(border-box);

    @include input-placeholder {        
        color: #777777;
        font: {
            style: italic;
        }
    }

    &:hover {
        border: {
            color: $color-light-blue;;
        }
    }

    &:focus {
        border: {
            color: $color-blue;
        }
        background: {
            color: #ffffff;
        }
    }

    &[disabled="disabled"] {
        background: {
            color: #ececec;
        }

        &:hover {
            border: {
                color: #d7d7d7;
            }
        }
    }
}

textarea {
    height: auto;
    padding: {
        top: 5px;
        bottom: 5px;
    }
}

input {
    &[type="submit"] {
        border: none;
        padding: {
            right: 20px;
            left: 20px;
        }
        line-height: $height-input;
        background: {
            color: $color-blue;
        }
        font: {
            family: $family-miso;
            size: em(30);
        }
        color: $color-sub;
        text: {
            transform: uppercase;
        }

        &:hover {
            background: {
                color: $color-light-blue;
            }
            color: $color-sub;
        }

        &:active {
            background: {
                color: #000000
            }
            color: $color-sub;
        }
    }
}

.cols {
    width: 100%;

    > p, > div {
        float: left;

        @include to("tablet") {
            float: none;
        }

        input, label, textarea {
            margin: {
                bottom: 0;
            }
        }
    }

    &.cols-1 {
        float: none;

        > p {
            width: 100%;
        }
    }

    &.cols-2 {
        > p {
            width: 49%;

            @include to("tablet") {
                width: 100%;
            }

            &:first-child {
                margin: {
                    right: 2%;
                }

                @include to("tablet") {
                    margin: {
                        right: 0;
                    }
                }
            }
        }
    }

    &.cols-3 {
        > p {
            width: 32%;

            @include to("tablet") {
                width: 100%;
            }

            &:first-child {
                margin: {
                    right: 2%;
                }

                @include to("tablet") {
                    margin: {
                        right: 0;
                    }
                }
            }

            &:last-child {
                margin: {
                    left: 2%;
                }

                @include to("tablet") {
                    margin: {
                        right: 0;
                    }
                }
            }
        }
    }

    &.cols-12 {
        > div {
            width: 49%;
            vertical-align: top;

            @include to("tablet") {
                width: 100%;
            }

            &:first-child {
                margin: {
                    right: 2%;
                }
            }


            &.col-1 {
                textarea {
                    height: 118px;
                }
            }

            &.col-2 {

            }
        }
    }

    &.check {
        > p {
            vertical-align: baseline;   
        }
    }

    &.no-margin-top {
        > p {
            margin: {
                top: 0;
            }
        }
    }

    &.no-margin-bottom {
        > p {
            margin: {
                bottom: 0;
            }
        }
    }
}