@charset "UTF-8";

$browser-minimum-versions: ("ie": "10");

@import "compass";

@import 'normalize';
$_normalize-exclude: ('table');
@include normalize();

@import "compass/layout";
@import "compass/css3/user-interface";
@import "compass/css3/selection";

@import 'breakpoint';
@import 'breakpoint-slicer';

@import "fonts";
@import "font-awesome/font-awesome";
//@import "mixins";


/* Dimensions */
$footer-height : 250px;

/* Couleurs du projet */
$color-text: #000000;

/* Autres variables */
$golden-ratio: 1.62;

$slicer-breakpoints: 0 1000px;
$slicer-breakpoint-names: 'mobile' 'desktop';

// @include to : jusqu'a
// @include from : à partir de ___ et au dela
// @include at : a


* {
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: calc(1em * .625);
}

body {
    height: 100%;
    font: {
        family: $family-lato;
        size: 1.6rem;
    }
    color: $color-text;

    [id="wrapper"] {
        > noscript {
            > div {
                margin: 0 1em;   
            }
        }

        @import "header";
        @import "content";
    }

    @import "footer";

    @import "commons";
}